@import 'css/common';

.collection-wrapper {
  border: 1px solid $neutral-4;
  min-height: 150px;
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  @include border-radius(5px);

  .pill {
    @include inline-block;
    background: $neutral-4;
    margin: 0 10px 10px 0;
    padding: 5px 10px;
    @include border-radius(5px);
    cursor: pointer;

    span {
      padding-right: 10px;
    }

    .close-icon {
      @include close-icon(12px);
    }
  }
}
