$dm-brand       : #0066DC;
$dm-brand-light : #408AE5;
$dm-games-brand : #42AEDC;
$trending-wtw   : #00BFBF;
// GREY
$neutral-1      : #404040;
$neutral-2      : #7F7F7F;
$neutral-3      : #BFBFBF;
$neutral-4      : #E5E5E5;
$neutral-5      : #F5F5F5;
// premium
$yellow         : #FFC800;
// warning
$orange         : #FF8200;
// visited link
$purple         : #6F2872;
// stop
$red            : #FF003C;
// success
$green          : #00C832;

/// Social Colors
$twitter-color        : #55ACEE;
$facebook-color       : #3B5998;
$instagram-color      : #517FA4;
$google-color         : #DD4B39;
$pinterest-color      : #CC2127;
$myspace-color        : #313131;
$soundcloud-color     : #F8630E;
$tumblr-color         : #36465D;
$itunes-color         : #656565;
$rss-color            : #FFA500;

*{
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

header{
  background-color: $dm-brand;
  color: white;
  padding: 100px 0;
  p,h1{
    width: 600px;
    margin: 20px auto;
  }
  h1{
    font-size: 68px;
    font-weight: bold;
    text-shadow: 5px 5px #000;
    padding: 0 0 50px 0;
  }
}

h1{
  font-size: 2.4rem;
}
h2{
  font-size: 2.2rem;
  font-weight: bold;
  color: $neutral-2;
}
h3{
  font-size: 1.2rem;
}
section{
  margin: 20px auto;
  width: 600px;
  padding: 20px 0;
  border-bottom: 5px solid $neutral-2;
}
footer{
  text-align: center;
  padding: 20px 0;
  font-weight: 100;
  letter-spacing: 1px;
  a{
    color: $dm-brand;
  }
}

pre{
  margin: 10px 0;
  padding: 10px;
  overflow: auto;
  background: #333;
  color: #aaa;
  font-family: monospace;
}
.snippet{
  background: #333;
  padding: 3px;
  color: #aaa;
  font-family: monospace;
}
.functionality li{
  margin: 20px 0;
}
.icon-list{
  display: flex;
  align-items: center;;
  justify-content: center;
  flex-wrap: wrap;
  .icon-item{
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $dm-brand;
    display: inline-block;
    transition: all .4s;
    transform: scale(1);
    position: relative;
    svg{
      vertical-align: middle;
      path{
        transition: all .4s;
      }
    }
    .icon-title{
      visibility: hidden;
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      color: white;
      vertical-align: middle;
      padding-top: 20px;
      font-weight: 100;
      top:0;
      text-align: center;
      display: block;
      letter-spacing: 1px;
      opacity: 0;
      font-size: 8px;
      transition: all .4s;
    }
    &:hover{
      transform: scale(1.4);
      .icon-title{
        visibility: visible;
        opacity: 1;
      }
      svg{
        path{
          fill: transparent;
        }
      }
    }
  }
}
