$dm-brand       : #0066DC;
$dm-brand-light : #408AE5;
$dm-games-brand : #42AEDC;
$trending-wtw   : #00BFBF;
// GREY
$neutral-1      : #404040;
$neutral-2      : #7F7F7F;
$neutral-3      : #BFBFBF;
$neutral-4      : #E5E5E5;
$neutral-5      : #F5F5F5;
// premium
$yellow         : #FFC800;
// warning
$orange         : #FF8200;
// visited link
$purple         : #6F2872;
// stop
$red            : #FF003C;
// success
$green          : #00C832;

/// Social Colors
$twitter-color        : #55ACEE;
$facebook-color       : #3B5998;
$instagram-color      : #517FA4;
$google-color         : #DD4B39;
$pinterest-color      : #CC2127;
$myspace-color        : #313131;
$soundcloud-color     : #F8630E;
$tumblr-color         : #36465D;
$itunes-color         : #656565;
$rss-color            : #FFA500;

*{
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	line-height: 1.4;
  font-family: "Hind", "Heletica Neue", Helvetica, Arial, sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
input, textarea{
	line-height: 1;
  font-family: "Hind", "Heletica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}
a{
  text-decoration: none;
}
ul {
	list-style: none;
}
ol{
  list-style: decimal;
  li{
    padding:10px 20px;
  }
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
  box-sizing: border-box;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


header{
  background-color: $dm-brand;
  color: white;
  padding: 100px 0;
  @media (max-width: 600px){
    padding: 40px 0;
  }
  .github-corner{
    .octo-arm{
      transform-origin: 130px 106px;
    }
    &:hover .octo-arm{
      animation:octocat-wave 560ms ease-in-out;
    }
    @keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}
    @media (max-width:500px){
      .github-corner:hover .octo-arm{animation:none;}
      .github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out;}
    }
    svg{
      fill:#fff;
      color:#151513;
      position: absolute;
      top: 0;
      border: 0;
      right: 0;
    }
  }
  .header-content{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    p,h1,h2,h3{
      margin: 20px 0;
    }
  }
  h1{
    font-size: 68px;
    font-weight: bold;
    text-shadow: 5px 5px #000;
    padding: 0 0 50px 0;
    @media (max-width: 600px){
      font-size: 34px;
      padding: 0;
    }
  }
  h2{
    font-size: 20px;
    padding: 20px 20px;
    font-family: monospace;
    color: rgb(207, 207, 207);
    background-color: rgba(0,0,0,.2);
    @media (max-width: 600px){
      display: none;
    }
  }
  p{
    font-size: 20px;
    @media (max-width: 600px){
      font-size: 16px;
    }
  }
}

h1{
  font-size: 2.4rem;
}
h2{
  font-size: 2.2rem;
  font-weight: bold;
  color: $neutral-2;
}
h3{
  font-size: 1.2rem;
}
section{
  margin: 20px auto;
  width: 90%;
  max-width: 1000px;
  padding: 20px 0;
  border-bottom: 5px solid $neutral-2;
}
footer{
  text-align: center;
  padding: 20px 0;
  font-weight: 100;
  letter-spacing: 1px;
  a{
    color: $dm-brand;
  }
}

.warning-mobile{
  @media(min-width: 600px){
    display: none;
  }
}

pre{
  margin: 10px 0;
  padding: 10px;
  overflow: auto;
  background: #333;
  color: #aaa;
  font-family: monospace;
  @media (max-width: 600px){
    display: none;
  }
}
.snippet{
  background: #333;
  padding: 3px;
  color: #aaa;
  font-family: monospace;
}
.functionality li{
  margin: 20px 0;
}
.icon-list{
  display: flex;
  align-items: center;;
  justify-content: center;
  flex-wrap: wrap;
  .icon-item{
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $dm-brand;
    display: inline-block;
    transition: all .4s;
    transform: scale(1);
    position: relative;
    svg{
      vertical-align: middle;
      path{
        transition: all .4s;
      }
    }
    .icon-title{
      visibility: hidden;
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      color: white;
      vertical-align: middle;
      padding-top: 20px;
      font-weight: 100;
      top:0;
      text-align: center;
      display: block;
      letter-spacing: 1px;
      opacity: 0;
      font-size: 8px;
      transition: all .4s;
    }
    &:hover{
      transform: scale(1.4);
      .icon-title{
        visibility: visible;
        opacity: 1;
      }
      svg{
        path{
          fill: transparent;
        }
      }
    }
  }
}
