@mixin transition($t...){
  transition: $t;
  -webkit-transition: $t;
  -moz-transition: $t;
  -o-transition: $t;
}

@mixin animation($t...){
  animation: $t;
  -webkit-animation: $t;
  -moz-animation: $t;
  -o-animation: $t;
}

@mixin transition-duration($s){
  transition-duration: $s;
  -webkit-transition-duration: $s;
  -moz-transition-duration: $s;
  -o-transition-duration: $s;
}

@mixin transition-property($p...){
  transition-property: $p;
  -webkit-transition-property: $p;
  -moz-transition-property: $p;
  -o-transition-property: $p;
}

@mixin transition-timing-function($f: cubic-bezier(0,.89,.44,1)){
  transition-timing-function: $f;
  -webkit-transition-timing-function: $f;
  -moz-transition-timing-function: $f;
  -o-transition-timing-function: $f;
}

@mixin opacity($t...){
  opacity: $t;
  -webkit-opacity: $t;
  -moz-opacity: $t;
  -o-opacity: $t;
}

// Default transition
.transition{
  @extend .transition-sm;
  @extend .transition-timing-ease;
}

// Duration
.transition-xs {
  @include transition-duration(.1s);
}

.transition-sm {
  @include transition-duration(.2s);
}

.transition-md {
  @include transition-duration(.3s);
}

.transition-lg {
  @include transition-duration(.4s);
}

.transition-xl {
  @include transition-duration(.6s);
}

// Timing
.transition-timing-linear{
  @include transition-timing-function(linear);
}
.transition-timing-ease{
  @include transition-timing-function(ease);
}
.transition-timing-ease-in-out{
  @include transition-timing-function(ease-in-out);
}
.transition-timing-bezier{
  @include transition-timing-function(cubic-bezier(0,.89,.44,1));
}

// Fade
.fade-out{
  @include opacity(0);
  visibility: 0;
}
.fade-in{
  @include opacity(1);
  visibility: visible;;
}

// Scale
.scale-in-sm{
  transform: scale(1.05);
}
.scale-in-md{
  transform: scale(1.1);
}
.scale-in-lg{
  transform: scale(1.2);
}
.scale-in-xl{
  transform: scale(1.4);
}
.scale-out-sm{
  transform: scale(0.95);
}
.scale-out-md{
  transform: scale(0.9);
}
.scale-out-lg{
  transform: scale(0.8);
}
.scale-out-xl{
  transform: scale(0.7);
}

// spin
.animation-spin{
  @include animation(spin 2s linear infinite);
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
