$bgcolorOff: #212121;

.form_toggle {
  position: relative;
  display: inline-block;
  @include background-color(dm-brand);
  border-radius: 30px;
  cursor: pointer;
  overflow: hidden;
  @include font-size(xs);
  @include transition(all .3s ease-in);

  &__choice {
    @include color(white);
    height: 100%;
    float: left;
    padding: 5px;
    z-index: 1;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:first-child {
      padding-left: 10px;
    }
    &:nth-child(2) {
      padding-right:10px;
    }
  }

  &__slider {
    z-index: 2;
    height: 100%;
    width: 40px;
    @include border(3px,dm-brand);
    @include background-color(white);
    display: block;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    border-radius: 30px;
    @include transition(all .3s ease-in);
  }

  &--off {
    @include background-color(black);

    .form_toggle__slider {
      @include border(3px,black);
    }
  }
}
