{% js_trans 'utils/time-and-views' with
    {
        '%(years)s years ago': {
            singular: '%(years)s year ago'|trans,
            plural: '%(years)s years ago'|trans,
        },
        '%(weeks)s weeks ago': '%(weeks)s weeks ago'|trans,
        '%(views)s views': {
            singular: '%(views)s view'|trans,
            plural: '%(views)s views'|trans,
        },
        'last year': 'last year'|trans,
        'last %(month)s': 'last %(month)s'|trans,
        'last %(day)s': 'last %(day)s'|trans,
        '%(hours)s hours ago': {
            singular: '%(hours)s hour ago'|trans,
            plural: '%(hours)s hours ago'|trans,
        },
        'a few minutes ago': 'a few minutes ago'|trans,
        'last month': 'last month'|trans,
        '%d weeks ago': {
            singular: '%(weeks)s week ago'|trans,
            plural: '%(weeks)s weeks ago'|trans,
        },
        'a week ago': 'a week ago'|trans,
        '%d days ago': {
            singular: '%(days)s day ago'|trans,
            plural: '%(days)s days ago'|trans,
        },
        'yesterday': 'yesterday'|trans,
        '%d hours ago': {
            singular: '%(hours)s hour ago'|trans,
            plural: '%(hours)s hours ago'|trans,
        },
        months: {
            1: 'january'|trans,
            2: 'february'|trans,
            3: 'march'|trans,
            4: 'april'|trans,
            5: 'may'|trans,
            6: 'june'|trans,
            7: 'july'|trans,
            8: 'august'|trans,
            9: 'september'|trans,
            10: 'october'|trans,
            11: 'november'|trans,
            12: 'december'|trans,
        },
        days: {
            0: 'Sunday'|trans,
            1: 'Monday'|trans,
            2: 'Tuesday'|trans,
            3: 'Wednesday'|trans,
            4: 'Thursday'|trans,
            5: 'Friday'|trans,
            6: 'Saturday'|trans,
        }
    }
%}
