@import 'css/common';

$warning: $orange;
$error: $red;
$success: $green;

$color-conf :
(
  warning:
  (
    alert-background-color: lighten($warning, 45%),
    icon-color: $warning,
  ),
  error:
  (
    icon-color: $error,
    alert-background-color: lighten($error, 47%),
  ),
  success:
  (
    alert-background-color: lighten($success, 55%),
    icon-color: $success,
  ),
  info:
  (
    alert-background-color: lighten($dm-brand, 53%),
    icon-color: $dm-brand,
  ),
  lock:
  (
    alert-background-color: lighten($dm-brand, 53%),
    icon-color: $neutral-3,
  )
);

.utils_alert
{
  position: relative;
  border-radius: 5px;

  &.utils_alert--md
  {
    padding: 10px;
    .media-img:before
    {
      font-size: 26px;
    }
  }

  &.utils_alert--lg
  {
    padding: 20px;
    .media-img:before
    {
      font-size: 46px;
    }
  }

  .media-block
  {
    a
    {
      font-weight: normal;

      &:visited,
      &:link,
      &:hover
      {
        color: $dm-brand;
      }

      &:hover
      {
        text-decoration: underline;
      }

      &.underline
      {
        text-decoration: underline;
        color: black;
      }

      &.btn-primary,
      &.btn-success,
      &.btn-error
      {
        color: white;
        text-decoration: none;
        &:hover
        {
          color: white;
          text-decoration: none;
        }
      }
    }
  }

  .media-img
  {
    position: relative;
    display: table;
    color: white;
    text-align: center;
    &:before
    {
      text-align: center;
    }
  }

  &__close {
    cursor: pointer;
    float: right;
    margin-left: 10px;
    color: rgba(0,0,0,0.5);
    text-decoration: none;
  }

  @each $alert-type, $properties in $color-conf
  {
    &.utils_alert--#{$alert-type}
    {
      background-color: map-get($properties, 'alert-background-color');

      .media-img
      {
        color: map-get($properties, 'icon-color');
      }
    }
  }
}
