$dm-brand       : #0066DC;
$neutral-3      : #BFBFBF;

.video-list{
    .search-term{
        padding: 0 20px 30px 20px;
        text-align: center;
        font-size: 16px;
        .label{
            color: $neutral-3;
        }
        .value{
            color: $dm-brand;
        }
    }
    .grid-item{
        .title{
            height: 40px;
        }
    }
    .row{
        transition: all .4s;
    }
    &.searching{
        .row{
            opacity: .5;
        }
    }
    .no-results{
        text-align: center;
        padding: 20px;
        font-size: 22px;
    }
}
